<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Menu.css">
    <title>Menu</title>
</head>
<body>
    <div class="container">
        <ul class="menu">
            <li><a href="#">Trang chủ</a></li>
            <li>
                <a href="#">Giới thiệu</a>
                <ul>
                    <li><a href="#">Về chúng tôi</a></li>
                    <li><a href="#">Lịch sử hình thành</a></li>
                    <li><a href="#">Mục tiêu về xứ mệnh</a></li>
                    <li><a href="#">Chính sách hợp tác</a></li>
                </ul>               
            </li>
            <li> 
                <a href="#">Sẩn phẩm</a>
                <ul>
                    <li>
                        <a href="#">Thời trang nam</a>
                        <ul>
                            <li><a href="#">Áo sợ mi</a></li>
                            <li><a href="#">Áo thun</a></li>
                            <li><a href="#">Quần jean</a></li>
                            <li><a href="#">Giày dép</a></li>
                        </ul>  
                    </li>
                    <li>
                        <a href="#">Thời trang nữ</a>
                        <ul>
                            <li><a href="#">Áo dài</a></li>
                            <li><a href="#">Đầm váy</a></li>
                            <li><a href="#">Giày dép</a></li>
                            <li><a href="#">Túi xách</a></li>
                        </ul> 
                    <li>
                        <a href="#">Thời trang em bé</a>
                        <ul>
                            <li><a href="#">Bé trai</a></li>
                            <li><a href="#">Bé gái</a></li>
                            <li><a href="#">Sơ sinh</a></li>                      
                        </ul>  
                    </li>
                    
                </ul>  
            </li>
            <li><a href="#">Tin tức</a></li>
            <li><a href="#">Liên hệ</a></li>
        </ul>
    </div>
</body>
</html>